.jumbotron {
  padding-top: 6rem;
  background-color: #b0b0b0;
}
#About {
  background-color: #e3e2e2;
}
#Projects {
  background-color: #b0b0b0;
}
#Contact {
  background-color: #e3e2e2;
}
section {
  padding-top: 5rem;
}
